body {
    background-image: url(../../Mesh\ Gradient.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.img-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100px;
    margin-left: 70;
}

/* .botao-inve{
    position: right;
    top: 0;
    left: 0;
} */
.cadastro{
    position:absolute; 
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.botoes-cabecalho{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 30px; 
    margin-right: 70px;
}

.botoes-cabecalho button:first-child {
    margin-right: 13px; 
  }
  
  .botoes-cabecalho button:nth-child(2) {
    /* outras propriedades */
    margin-left: 13px; /* Ajuste a margem esquerda conforme necessário */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 15px;
  }
  
.cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.formulario-cadastro {
    display: inline-table;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    width: 50%;
    overflow: auto; /*ou scroll, dependendo do efeito desejado */ 
    height: 200px; /* defina a altura desejada para permitir a rolagem */
    margin-top: 300px; /* Ajuste a margem superior conforme necessário */  
    margin-left: 50px;
    .btn-primary{
        background-color: #FD6121;
        border-color: #FD6121;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px 58px;
        gap: 4px;
        width: 191px;
        height: 54px;
        border-radius: 8px;
        flex: none;
        order: 1;
        flex-grow: 0;
        margin-right: 500px;

    }
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.formulario-cadastro input {
    width: 100%;
    margin-bottom: 20px;
    border-color: gray;
    border-radius: 5px;
    height: 50px; /* Ajuste a altura desejada */
    
}

/*Estilo dos botões de input do formulário de cadastro */
.formulario-cadastro a {
    color: black ;
    align-self: flex-start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 15px;
}

.b

.btn-danger{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px

}

.formulario-cadastro h2{
    color: #FD6121;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 120%;
    align-self: flex-start;

}

.formulario-cadastro h3{
    color: rgb(36, 33, 33);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    align-self: flex-start;

}


/*Estilo do botão de dropdown do formulário de cadastro*/
.btn-outline-dark{
    width: 800px;
    display: flex;
    margin-top: 10px;
    margin-right: 400px;
    
}

/*Estilo do botão de submeter "Registrar"*/
.btn-register{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 500px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}

footer {
    position:absolute;
    bottom: -500px;
    background-color:black;
    color: #FFF;
    width: 100%;
    height: 400px;    
    text-align: center;
    line-height: 100px;
    top: 950px;

    .img-left{
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 100px;
        margin-left: 60px;
    }

    .dates-rights{
        margin-top: 180px;
        font-size: 20px;
    }

    
    .button-sobrenos{
        border: none;
        background-color: transparent;
        color:white;
        text-decoration: underline;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 10px; 
        margin-right: 900px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 550;
        font-size: 20px;
        text-decoration: none;
      }

      .button-conhecacesar{
        border: none;
        background-color: transparent;
        color:white;
        text-decoration: underline;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 70px; 
        margin-right: 850px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        text-decoration: none;
      }

      .button-contato{
        border: none;
        background-color: transparent;
        color:white;
        text-decoration: underline;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 110px; 
        margin-right: 852px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        text-decoration: none;
      }

      .button-informacoes{
        border: none;
        background-color: transparent;
        color:white;
        text-decoration: underline;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 10px; 
        margin-right: 600px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 550;
        font-size: 20px;
        text-decoration: none;
      }

      .button-startups{
        border: none;
        background-color: transparent;
        color:white;
        text-decoration: underline;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 70px; 
        margin-right: 610px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        text-decoration: none;
      }

      .button-investidores{
        border: none;
        background-color: transparent;
        color:white;
        text-decoration: underline;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 110px; 
        margin-right: 462px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        text-decoration: none;
      }

      .button-privacidade{
        border: none;
        background-color: transparent;
        color:white;
        text-decoration: underline;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 150px; 
        margin-right: 534px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        text-decoration: none;
      }

      .btn-primary{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-left: 1200px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        background-color: #FD6121;
        border-color: black;
        position: relative;
        top: -270px; 
        width: 150px; /* Ajuste esse valor para controlar a largura do botão */
        height: 50px; /* Ajuste esse valor para controlar a altura do botão */
        font-weight: 600;
    }

    .btn-light{
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 150px;
        margin-right: 85px;
        margin-left: 13px; /* Ajuste a margem esquerda conforme necessário */
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 550;
        font-size: 15px;
        width: 150px; /* Ajuste esse valor para controlar a largura do botão */
        height: 50px; /* Ajuste esse valor para controlar a altura do botão */
    }





}





